

    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Travaux Pratiques: Objets itérables ou conteneurs</span> </b></center>

###  <center> <b> <span style="color:blue;"> Listes </span> </b></center>

##                           Seynabou NDOUR, etudiante en Master COOP

=================================================

#### **Exercice 00:** 
>**Déclarer une liste vide.**

In [1]:
maliste0=[]

#### **Exercice 01:** 
>**Déclarer une liste de plus de 5 éléments.**

In [2]:
maliste5=[4, 5, 6, 'awa', 8, 'seyna', 7, 'Marie']

#### **Exercice 02:** 
>**Trouver la longueur de votre liste.**

In [3]:
print(len(maliste5))

8

#### **Exercice 03:** 
>**Obtenez le premier élément, l'élément central et le dernier élément de la liste.**

In [4]:
print(maliste5[0],'\n', maliste5[3], '\n', maliste5[-1])

4
 awa
 Marie

#### **Exercice 04:** 
>**Déclarez une liste appelée mixed_data_types, mettez votre (nom, âge, taille, état civil, adresse).**

In [5]:
#mixed_data_types={'monNom': 'Seynabou', monAge: 28, maTaille: 176.2, monEtatcivil: 'marie', monAdress: 'Zone Residentielle'}
mixed_data_types=['Seynabou', 28, 176.2, 'marie','Zone Residentielle']
print(mixed_data_types)

['Seynabou', 28, 176.2, 'marie', 'Zone Residentielle']

#### **Exercice 05:** 

    1. Déclarez une variable liste appelée it_companies et attribuez les valeurs initiales Facebook, Google, Microsoft, Apple, IBM, Oracle et Amazon.

    2. Imprimez la liste à l'aide de print()

    3. Imprimez le nombre d'entreprises dans la liste

    4. Imprimez la première, la moyenne et la dernière entreprise

    5. Imprimez la liste après avoir modifié l'une des entreprises.

    6. Ajout d'une entreprise informatique à it_companies

    7. Insérer une entreprise informatique au milieu de la liste des entreprises

    8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)

    9. Joignez les it_companies avec une chaîne '# ; '.

    10. Vérifier si une certaine entreprise existe dans la liste it_companies.

    11. Trier la liste en utilisant la méthode sort()

    12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse().

    13. Supprimez les 3 premières entreprises de la liste.

    14. Supprimez les 3 dernières entreprises de la liste.

    15. Supprimez la ou les entreprises informatiques du milieu de la liste.

    16. Supprimez la première entreprise informatique de la liste

    17. Supprimez la ou les entreprises informatiques du milieu de la liste.

    18. Retirer la dernière entreprise informatique de la liste

    19. Supprimez toutes les entreprises informatiques de la liste

    20. Détruire la liste des entreprises informatiques

In [58]:
it_companies=['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#Imprimez la liste à l'aide de print()
print('La liste est : ', it_companies)

La liste est :  ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [59]:
#2.Imprimez le nombre d'entreprises dans la liste
print(len(it_companies))

7

In [60]:
#3.Imprimez la première, la moyenne et la dernière entreprise'
print(it_companies[0], '\n', it_companies[3], '\n',it_companies[-1])

Facebook
 Apple
 Amazon

In [61]:
#4.Imprimez la liste après avoir modifié l'une des entreprises
it_companies[1] = it_companies[1] + 'Chrome'
print(it_companies)

['Facebook', 'GoogleChrome', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [10]:
#6. Ajout d'une entreprise informatique à it_companies: Question doublon

In [62]:
#7. Insérer une entreprise informatique au milieu de la liste des entreprises
it_companies.insert(4,'Linkdn')
print(it_companies)

['Facebook', 'GoogleChrome', 'Microsoft', 'Apple', 'Linkdn', 'IBM', 'Oracle', 'Amazon']

In [63]:
#8. Changez le nom d'une des it_companies en majuscule (sauf IBM !)
it_companies[3]=it_companies[3].upper()
print(it_companies)

['Facebook', 'GoogleChrome', 'Microsoft', 'APPLE', 'Linkdn', 'IBM', 'Oracle', 'Amazon']

In [22]:
print('============ Copy my list to keep safe my original list ============')

============ Copy my list to keep safe my original list ============

In [64]:
# I copy my list for test
#it_companies2=it_companies.copy() # si on modifie la copie, l'original sera modifier
#it_companies2= it_companies[:] # copie superficielle de la liste pour garder intacte l'original
it_companies_copie= it_companies[:] # copie superficielle de la liste pour garder intacte l'original
print(it_companies_copie)

['Facebook', 'GoogleChrome', 'Microsoft', 'APPLE', 'Linkdn', 'IBM', 'Oracle', 'Amazon']

In [21]:
print('=================== Continue ==================================')

=================== Continue ==================================

In [65]:
#9. Joignez les it_companies avec une chaîne '# ; ' avec la methode .join() with lists
maChaine = '# ;'
it_companies_copie=maChaine.join(it_companies_copie)

#it_companies_copie=str.join('#; ', it_companies_copie)

print(it_companies_copie)

Facebook# ;GoogleChrome# ;Microsoft# ;APPLE# ;Linkdn# ;IBM# ;Oracle# ;Amazon

In [66]:
it_companies_copie=it_companies_copie.split(';')
print(it_companies_copie)

['Facebook# ', 'GoogleChrome# ', 'Microsoft# ', 'APPLE# ', 'Linkdn# ', 'IBM# ', 'Oracle# ', 'Amazon']

In [67]:
#10. Vérifier si une certaine entreprise existe dans la liste it_companies.
print('Facebook# ' in it_companies_copie)

True

In [68]:
#11. Trier la liste en utilisant la méthode sort()
it_companies_copie.sort()
print(it_companies_copie)

['APPLE# ', 'Amazon', 'Facebook# ', 'GoogleChrome# ', 'IBM# ', 'Linkdn# ', 'Microsoft# ', 'Oracle# ']

In [69]:
#12. Inversez la liste par ordre décroissant à l'aide de la méthode reverse(). #it_companies.reverse()
it_companies_copie.sort(reverse=True)
print(it_companies_copie)
#sorted(it_companies, reverse=True)

['Oracle# ', 'Microsoft# ', 'Linkdn# ', 'IBM# ', 'GoogleChrome# ', 'Facebook# ', 'Amazon', 'APPLE# ']

In [70]:
#13-Supprimez les 3 premières entreprises de la liste.
del it_companies_copie[0:3]
print(it_companies_copie)

['IBM# ', 'GoogleChrome# ', 'Facebook# ', 'Amazon', 'APPLE# ']

In [71]:
#14. Supprimez les 3 dernières entreprises de la liste.
del it_companies_copie[2:]
print(it_companies_copie)

['IBM# ', 'GoogleChrome# ']

In [72]:
# Faisons une copie de notre liste initial afin de continuer les operations.
it_companies_copie2= it_companies[:] 
print(it_companies_copie2)

['Facebook', 'GoogleChrome', 'Microsoft', 'APPLE', 'Linkdn', 'IBM', 'Oracle', 'Amazon']

In [73]:
#15. Supprimez la ou les entreprises informatiques du milieu de la liste.
del it_companies_copie2[3:5]
print(it_companies_copie2)

['Facebook', 'GoogleChrome', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [74]:
#16. Supprimez la première entreprise informatique de la liste
del it_companies_copie2[0]
print(it_companies_copie2)

['GoogleChrome', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [47]:
#17. Supprimez la ou les entreprises informatiques du milieu de la liste. QUESTION DOUBLON

In [75]:
#18. Retirer la dernière entreprise informatique de la liste
del it_companies_copie2[-1]
print(it_companies_copie2)

['GoogleChrome', 'Microsoft', 'IBM', 'Oracle']

#### **Exercice 06:** 
**Joindre les listes suivantes :**
     
         front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
         back_end = ['Node','Express', 'MongoDB']

In [76]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']  
back_end = ['Node','Express', 'MongoDB']

In [77]:
malist=front_end+back_end

In [78]:
print(malist)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### **Exercice 07:** 
Voici une liste de 10 âges d'étudiants :

         ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
         
 
    1. Trier la liste et trouver l'âge minimum et maximum.
    2. Ajoutez à nouveau l'âge minimum et l'âge maximum à la liste.
    3. Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
    4. Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
    4. Trouver l'intervalle des âges (max moins min)
    5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().

In [79]:
#1. Trier la liste et trouver l'âge minimum et maximum.
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [80]:
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [81]:
min_age=min(ages)
print("l'age minimum de la liste est : ", min_age)
max_age=max(ages)
print("l'age maximum de la list est : ", max_age)

l'age minimum de la liste est :  19
l'age maximum de la list est :  26

In [82]:
#2.Trouvez l'âge médian (un élément du milieu ou deux éléments du milieu divisés par deux).
# We select the two middle values, and divide them by 2
median_age=(24+24)/2
print(median_age)

24.0

In [83]:
#3.Trouvez l'âge moyen (somme de tous les éléments divisée par leur nombre).
def mean(dataset):
    mean_age=sum(dataset) / len(dataset)
    return mean_age

print("l'age moyenne de la liste est: ", mean(ages))

l'age moyenne de la liste est:  22.8

In [84]:
#4. Trouver l'intervalle des âges (max moins min)
interval_ages=max_age-min_age
print(interval_ages)

7

In [85]:
# 5. Comparez les valeurs de (min - moyenne) et (max - moyenne) en utilisant la méthode abs().
v1=min_age - mean(ages)
v2=max_age - mean(ages)
# print(v1, v2)
if abs(v1)> abs(v2):
    print( abs(v1), '= v1 est plus grand que v2 = ', abs(v2))
else:
    print("v2 est plus grand que v1")

3.8000000000000007 = v1 est plus grand que v2 =  3.1999999999999993

###  <center> <b> <span style="color:blue;"> Dictionnaires </span> </b></center>


1. Créer un dictionnaire vide appelé `dog`
2. Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
3. Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences, le pays, la ville et l'adresse comme clés pour le dictionnaire.
4. Obtenez la longueur du dictionnaire student
5. Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
6. Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
7. Obtenez les clés du dictionnaire sous forme de liste
8. Obtenir les valeurs du dictionnaire sous forme de liste
9. Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
10. Supprimer un des éléments du dictionnaire
11. Supprimer un des dictionnaires

In [86]:
# 1.Créer un dictionnaire vide appelé dog
dog={}

In [87]:
# 2.Ajoute le nom, la couleur, la race, les pattes, l'âge au dictionnaire dog.
dog['nom']='Gold'
dog['couleur']='Gris'
dog['pattes']=4
dog['âge']=5
print(dog)

{'nom': 'Gold', 'couleur': 'Gris', 'pattes': 4, 'âge': 5}

In [88]:
# 3.Créez un dictionnaire student et ajoutez le prénom, le nom, le sexe, l'âge, l'état civil, les compétences,
# le pays, la ville et l'adresse comme clés pour le dictionnaire
student={'prenom': 'Seynabou', 'nom': 'Ndour', 'sexe': 'F','âge': 28, 'etat_civil':'marié',
         'Compétences': ['Statistiques', 'Informatique'], 'pays': 'Sénégal','ville':'Dakar', 'adresse': 'Mbour'}
print(student)

{'prenom': 'Seynabou', 'nom': 'Ndour', 'sexe': 'F', 'âge': 28, 'etat_civil': 'marié', 'Compétences': ['Statistiques', 'Informatique'], 'pays': 'Sénégal', 'ville': 'Dakar', 'adresse': 'Mbour'}

In [89]:
# 4. Obtenez la longueur du dictionnaire student
print(len(student))

9

In [90]:
# 5.Récupérez la valeur des compétences et vérifiez le type de données, il doit s'agir d'une liste.
print(student['Compétences'])
type(student['Compétences'])

['Statistiques', 'Informatique']

list

In [91]:
# 6.Modifiez les valeurs des compétences en ajoutant une ou deux compétences.
student['Compétences']=student['Compétences']+['Analyse de données', 'Database management']
print(student['Compétences'])

['Statistiques', 'Informatique', 'Analyse de données', 'Database management']

In [94]:
#7.Obtenez les clés du dictionnaire sous forme de liste
#list(student.keys())
print([*student])

['prenom', 'nom', 'sexe', 'âge', 'etat_civil', 'Compétences', 'pays', 'ville', 'adresse']

In [95]:
#8.Obtenir les valeurs du dictionnaire sous forme de liste
list(student.values())

['Seynabou',
 'Ndour',
 'F',
 28,
 'marié',
 ['Statistiques', 'Informatique', 'Analyse de données', 'Database management'],
 'Sénégal',
 'Dakar',
 'Mbour']

In [96]:
#9.Transformer le dictionnaire en une liste de tuples en utilisant la méthode items()
liste_tuples = list(student.items())
print(liste_tuples)

[('prenom', 'Seynabou'), ('nom', 'Ndour'), ('sexe', 'F'), ('âge', 28), ('etat_civil', 'marié'), ('Compétences', ['Statistiques', 'Informatique', 'Analyse de données', 'Database management']), ('pays', 'Sénégal'), ('ville', 'Dakar'), ('adresse', 'Mbour')]

In [97]:
#10.Supprimer un des éléments du dictionnaire
del student['ville']
print(student)

{'prenom': 'Seynabou', 'nom': 'Ndour', 'sexe': 'F', 'âge': 28, 'etat_civil': 'marié', 'Compétences': ['Statistiques', 'Informatique', 'Analyse de données', 'Database management'], 'pays': 'Sénégal', 'adresse': 'Mbour'}

In [98]:
#s11.Supprimer un des dictionnaires
L=[student,dog]
print(L)

[{'prenom': 'Seynabou', 'nom': 'Ndour', 'sexe': 'F', 'âge': 28, 'etat_civil': 'marié', 'Compétences': ['Statistiques', 'Informatique', 'Analyse de données', 'Database management'], 'pays': 'Sénégal', 'adresse': 'Mbour'}, {'nom': 'Gold', 'couleur': 'Gris', 'pattes': 4, 'âge': 5}]

In [99]:
L.remove(student)
print(L)

[{'nom': 'Gold', 'couleur': 'Gris', 'pattes': 4, 'âge': 5}]

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS ! / CONGRATULATIONS !🎉 </span> </b></center>